html {
  font-family: "Finger Paint", cursive;
}

p {
  font-family: "Source Sans Pro", sans-serif;
}

h2 {
    color: #ff0080;
}

a {
  color: #888;
}

a:hover {
  color: #000;
}

.max-length {
  margin-left: 0;
  margin-right: 0;
}

.masthead {
  background-color: #ff0080;

  color: #fff;
}

.nav {
  position: relative;
  background-color: #ff6fb7;
  z-index: 2;
}

.nav a {
  display: inline-block;
  padding: .5rem .75rem;

  color: #fff;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus {
  background-color: #fff;
  color: #ff0080;
}

th,
td {
  border-color: #777;
}

.sweets {
  background-color: #fff;
}

.about {
  position: relative;
}

.about-content {
  background-color: #fff;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  padding-bottom: 15%;
}

.hours {
  background-color: #fff;
}

.reviews {
  background-color: #fff;
}

.location {
  background-color: #fff;
}

.contact {
  background-color: #fff;
}

.btn {
  background-color: #ffe800;
  border-color: #ffe800;
  border-radius: 2rem;

  color: #ff0080;
}

.btn:hover {
  background-color: #ff0080;
  border-color: #ff0080;

  color: #ffe800;
}

.footer {
  background-color: #ff0080;
  color: #fff;
}

@media only screen and (min-width: 30em) {

  .about-content {
    bottom: 0;
    position: absolute;
    width: 100%;

    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(17, 0, 0, 0), rgba(17, 0, 0, .8));
  }

}
